<!doctype html>
<html lang="en">

<body class="add-product">

  <!-- Navigation -->
  <nav class="navbar navbar-ct-primary" role="navigation-demo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Squall</a>
        </div>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--    <div class="container">-->
            <!-- Brand and toggle get grouped for better mobile display -->
    <!--        <div class="navbar-header">-->
    <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
    <!--                <span class="sr-only">Toggle navigation</span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--            </button>-->
    <!--            <a class="navbar-brand" href="#">Squall</a>-->
    <!--        </div>-->
            <!-- Collect the nav links, forms, and other content for toggling -->
             <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="/users/sign_out">log_out</a>
                    </li>
                </ul>
        </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
  </nav>

  <div class="wrapper">
  	<div class="main">
    	<div class="section section-nude">
        <div class="container">
          <div class="col-md-8 col-sm-7">


						<!-- search -->
						<div class ="container" style="margin-top:200px">
								<div id="search_bar">
										<form action="/search_view" method="get">
										<input type="text" name="content" class="form-control" placeholder="">
										<button type="submit" class="btn btn-default">검색</button>
										</form>
								</div>
						</div>
			    </div>
				</div>
			</div>
	  </div>
	</div>
	<!-- div 뭐가뭔지... -->
</html>
